@{
    ViewBag.Title = "El mercadito";
}



<div class="jumbotron">
	<h1>Pruebas de funcionalidades</h1>

	<a href="/Producto/VerProductos"><div class="btn btn-success">Ver productos</div></a>


</div>