@{
    ViewBag.Title = "El mercadito";
}

<div class="hero-image">
<img src="~/Content/Banner.jpg" style="width: 100%; margin-top: -25%;"/>
</div>

<div class="jumbotron">
	<h1 class="text-center tnr" style="margin-top: -20%; color:white">Mercadito Verde</h1>


	<div class="row tnr" style="margin-top: 20%;">
		<div class="col-sm-4">
			<h2 class="text-center">La importancia de la calidad</h2>
			<p>
				Nuestra empresa nacio con el fin de unir las comunidades de productores agricolas nacionales en un solo lugar permitiendoles
				tener un mayor alcance para distribuír sus productos,
				de esta forma podemos ofrecerles a nuestros clientes los productos más frescos y de mejor calidad día a día.
			</p>
		</div>
		<div class="col-sm-4">
			<h2 class="text-center">Soñando con un futuro verde</h2>
			<p>
				No es una novedad la importancia que tiene nuestra alimentacion,
				para cuidar de nosotros mismos debemos ser concientes del origen de nuestros alimentos
				y en el Mercadito Verde estamos concientes de la importancia de estos aspectos a la hora de realizar
				la eleccion en los productos que le ofrecemos.
			</p>
		</div>
		<div class="col-sm-4">
			<h2 class="text-center">Lo que nos define</h2>
			<p>
				Siempre debemos tomar en cuenta la importancia de nuestros productores,
				son ellos quienes nos brindan diariamente la calidad en nuestras mesas
				produciendonos un sentimiento de satisfaccion al saber que cada compra se le remunera
				directamente y de forma justa, sin tarifas intermediarias excesivas.
			</p>
		</div>
	</div>
</div>