@{
	ViewBag.Title = "VerProductos";
}

@{
	<div class="grid">
		@foreach (MercaditoVerde.Models.ProductoModel producto in ViewBag.productos)
		{
			string imageUrl = "data:image;base64," + Convert.ToBase64String(producto.contenidoImagen);

			<div class="TarjetaProducto">
				<img src=@imageUrl />
				<h4>@producto.nombre</h4>
				<h4>@producto.tipoUnidad</h4>
				<h4>₡@producto.precio</h4>

				<div class="botonAgregar" onclick="agregarProducto(@producto.id, 1)"> agregar </div>

			</div>
		}
	</div>
}

<script src="~/JS/Carrito.js"></script>